* {
    background-color: #c089a5;
}


h1 {
    color: #fa8253;
}

h3:hover {
    background-color: rgb(163, 124, 199);
}

a:visited {
    color: rgb(72, 165, 134);
}

body {
    font-family:'Courier New', Courier, monospace;
}
