* {
    background-color: #f5e5f0;
}

h1 {
    color: #916953;
    font-weight: bold;
}

h2 {
    color: #CF8E80;
    font-weight: bold;
}

h3 {
    color: #FCB5B5;
    font-weight: bold;
}

h3:hover {
    background-color: rgb(163, 124, 199);
}

a:visited {
    color: rgb(72, 165, 134);
}

body {
    font-family:"League Spartan", Geneva, Tahoma, sans-serif;
    width: 75%;
}

p::first-line {
    background-color: #FAB3A9;
    font-style: italic;
    line-height: 110%;
}

figure {
    display: inline-block;
}

nav {
    position: fixed;
}